---
import "highlight.js/styles/github-dark-dimmed.css"

export interface Props {
  title?: string
  seo?: {
    metaDescription?: string
    metaImage?: {
      data: {
        attributes: {
          url: string
        }
      }
    }
    metaTwitterImage?: {
      data: {
        attributes: {
          url: string
        }
      }
    }
  }
}

const { title, seo } = Astro.props
const { metaDescription, metaImage, metaTwitterImage } = seo ?? {}
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-50 h-max dark:bg-slate-800">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {
      seo && (
        <>
          <meta name="description" content={metaDescription} />
          <meta property="og:title" content={title} />
          <meta property="og:type" content="article" />
          <meta property="og:image" content={metaImage?.data.attributes.url} />
          <meta
            property="twitter:image"
            content={metaTwitterImage?.data.attributes.url}
          />
          <meta property="twitter:card" content="summary_large_image" />
        </>
      )
    }
  </head>
  <body class="bg-gray-50 h-max dark:bg-slate-800">
    <slot />
  </body>
</html>
