---
import "highlight.js/styles/github-dark-dimmed.css"
import type { ComponentSharedSeo } from "../gql/graphql"

export interface Props {
  title?: string
  seo?: Partial<ComponentSharedSeo>
}

const { title, seo } = Astro.props
const { metaDescription, metaImage } = seo ?? {}
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-50 h-max dark:bg-slate-800 scroll-pt-16">
  <head>
    <!-- Google Tag Manager -->
    <script type="text/partytown">
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : ""
        j.async = true
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
        f.parentNode?.insertBefore(j, f)
      })(window, document, "script", "dataLayer", import.meta.env.PUBLIC_GTM_ID)
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        title="Google Tag Manager"
        src={`https://www.googletagmanager.com/ns.html?id=${
          import.meta.env.PUBLIC_GTM_ID
        }`}
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <script
      type="text/partytown"
      src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${
        import.meta.env.PUBLIC_AD_ID
      }`}
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type={metaImage?.data?.attributes?.mime}
      href={metaImage?.data?.attributes?.url}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={metaImage?.data?.attributes?.url} />
    <meta property="twitter:image" content={metaImage?.data?.attributes?.url} />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body class="bg-gray-50 h-max dark:bg-slate-800">
    <slot />
  </body>
</html>
