---
import "highlight.js/styles/github-dark-dimmed.css"
import type { ComponentSharedSeo } from "../gql/graphql"

export interface Props {
  title?: string
  seo?: Partial<ComponentSharedSeo>
}

const { title, seo } = Astro.props
const { metaDescription, metaImage } = seo ?? {}
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-50 h-max dark:bg-slate-800">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type={metaImage?.data?.attributes?.mime}
      href={metaImage?.data?.attributes?.url}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={metaImage?.data?.attributes?.url} />
    <meta property="twitter:image" content={metaImage?.data?.attributes?.url} />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-gray-50 h-max dark:bg-slate-800">
    <slot />
    <script
      type="text/partytown"
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon={JSON.stringify({
        token: import.meta.env.PUBLIC_CF_BEACON,
      })}
    ></script>
  </body>
</html>
