---
import "highlight.js/styles/github-dark-dimmed.css"
import type { ComponentSharedSeo } from "../gql/graphql"

export interface Props {
  title?: string
  seo?: Partial<ComponentSharedSeo>
}

const { title, seo } = Astro.props
const { metaDescription, metaImage } = seo ?? {}
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-50 h-max dark:bg-slate-800">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={metaImage?.data?.attributes?.url} />
    <meta property="twitter:image" content={metaImage?.data?.attributes?.url} />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body class="bg-gray-50 h-max dark:bg-slate-800">
    <slot />
  </body>
</html>
