---
import { GraphQLClient } from "graphql-request"
import Layout from "../../../../layouts/Layout.astro"
import {
  QueryCategoriesDocument,
  QueryBlogSettingsDocument,
} from "../../../../gql/graphql"
import AppHeader from "../../../../components/AppHeader.astro"
import type { GetStaticPaths, InferGetStaticPropsType, Page } from "astro"
import { parseWithCustomRenderer } from "../../../../libs/marked"
import type {
  Category,
  CategoryEntity,
  ComponentSharedSeo,
  PostEntity,
} from "../../../../gql/graphql"
import PaginationFooter from "../../../../components/PaginationFooter.astro"

export const getStaticPaths = (async ({ paginate }) => {
  const client = new GraphQLClient(
    `${import.meta.env.PUBLIC_BACKEND_URL}/graphql`
  )
  const categoriesData = (await client.request(QueryCategoriesDocument))
    .categories?.data

  return (
    categoriesData?.flatMap((categoryData) => {
      const pagination = paginate(categoryData?.attributes?.posts?.data ?? [], {
        pageSize: 5,
        params: { slug: categoryData?.attributes?.slug },
      })
      return pagination.map((item) => ({
        ...item,
        props: {
          ...item.props,
          categoryItem: categoryData?.attributes,
        },
      }))
    }) ?? []
  )
}) satisfies GetStaticPaths

const client = new GraphQLClient(
  `${import.meta.env.PUBLIC_BACKEND_URL}/graphql`
)
const { page } = Astro.props
const { data, currentPage, lastPage } = page as Page<PostEntity>
const { title, seo } =
  (await client.request(QueryBlogSettingsDocument)).blogSetting?.data
    ?.attributes ?? {}

const articleContents = Object.fromEntries(
  await Promise.all(
    data.map(async (post) => [
      post?.attributes?.slug,
      (
        await parseWithCustomRenderer({
          content: post?.attributes?.content ?? "",
          small: true,
        })
      ).parsedMarkdown,
    ])
  )
)

const categoryItem: Category = Astro.props.categoryItem
---

<Layout
  title={`${title}-${categoryItem?.name}`}
  seo={(seo as Partial<ComponentSharedSeo>) ?? undefined}
>
  <AppHeader blogTitle={title ?? undefined} />
  <main class="prose mx-10 md:mx-20 my-10 dark:prose-invert divide-y">
    <h1>category: {categoryItem?.name}</h1>
    {
      data.map((post: PostEntity) => {
        return (
          <div>
            <article class="break-words py-16">
              <a href={`/blogs/${post.attributes?.slug}`}>
                <h1>{post?.attributes?.title}</h1>
                <div
                  class="line-clamp-3"
                  set:html={articleContents[post?.attributes?.slug ?? ""]}
                />
              </a>
              <nav>
                <p>
                  categories:
                  {post.attributes?.categories?.data?.map(({ attributes }) => {
                    const { name, slug } = attributes ?? {}
                    return (
                      <a href={`/categories/show/${slug}`}>
                        {name}
                      </a>
                    )
                  })}
                </p>
              </nav>
            </article>
          </div>
        )
      })
    }
  </main>
  <PaginationFooter page={page} />
</Layout>
